# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.env
.venv
venv/
ENV/
*.sqlite3
*.db
backend/uploads/*
!backend/uploads/.gitkeep

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/
.packages
.metadata
.atom/
.buildlog/
.history
app/debug
app/profile
app/release

# IDEs & System
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
cloudflared.exe
*.log
