# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.env
.venv
venv/
ENV/
*.sqlite3

# Flutter / Dart
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.pub-cache/
mobile/.pub/
mobile/build/
mobile/coverage/
mobile/.packages
mobile/.metadata
mobile/.atom/
mobile/.buildlog/
mobile/.history
mobile/android/app/debug
mobile/android/app/profile
mobile/android/app/release

# IDEs & System
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
cloudflared.exe
*.log
